div.login-container {
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 650px;
    font-family: Roboto, Helvetica, sans-serif;
    border-radius: 9px;
    box-shadow: 10px 10px 40px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
    .login-container--header {
        .arThek-logo {
            position: absolute;
            width: 258.79px;
            height: 258.79px;
            left: 70.14px;
            top: 0px;
        }
        .title {
            position: absolute;
            width: 168.3px;
            height: 29.6px;
            left: 114.96px;
            top: 157.3px;

            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 25px;
            line-height: 29px;
        }
    }
    .login-form {
        input.email-input {
            position: absolute;
            height: 50.74px;
            left: 38px;
            top: 238.49px;

            border: 1px solid #929292;
            box-sizing: border-box;
        }

        input.password-input {
            position: absolute;
            height: 50.74px;
            left: 38px;
            top: 313.76px;

            border: 1px solid #929292;
            box-sizing: border-box;
        }
        .mat-error {
            padding-left: 37px;
            padding-top: 285px;
            font-size: 12px;
            color: #ff0000;
        }
        .submit-button {
            position: absolute;
            width: 323.06px;
            height: 50.74px;
            left: 38px;
            top: 449.92px;

            color: white;
            background-color: #35488c;
            opacity: 0.85;
            cursor: pointer;

            .text-button-login {
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 25px;
                line-height: 29px;
            }
        }
        .submit-button:focus {
            border: none;
            text-decoration: none;
        }
        button.submit-button[disabled] {
            cursor: no-drop;
            opacity: 0.5;
        }
    }
    .login-container--separator {
        position: absolute;
        width: 323.06px;
        height: 0px;
        left: 38px;
        top: 542.1px;

        border: 1px solid #c7c7c7;
        transform: rotate(0.19deg);
    }
    .login-container--footer {
        position: absolute;
        width: 255.41px;
        height: 24.53px;
        left: 73.52px;
        top: 567.47px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;
    }
}

.mat-input-element {
    width: 323.06px;
    max-width: 300%;
}
