<div class="ud-header">
  <h2 class="text-center">arThek's Global Chat</h2>
</div>
<div class="ud-body">
  <div class="msg-box">
    <ul>
      <li
        *ngFor="let mObj of msgInboxArray"
        [ngClass]="mObj.user === msgDto.user ? 'in-msg' : 'ex-msg'"
      >
        <p>{{ mObj.user }} - {{ mObj.userType }}</p>
        <br />
        <p id="user-category">{{ mObj.category }} | {{ mObj.messageDate }}</p>
        <br /><span class="msg-italic-style">{{ mObj.msgText }}</span>
      </li>
    </ul>
  </div>
  <div class="ud-flex-row">
    <input
      type="text"
      placeholder="Type message here"
      class="msg-input"
      [(ngModel)]="msgDto.msgText"
    />
    <button class="send-btn" (click)="send()">
      <i class="fa fa-paper-plane"></i>
    </button>
  </div>
</div>
