<div class="volunteerType-container">
  <span class="steps"></span>
  <h1>Choose your Mentor's Type</h1>
  <div class="volunteerType-container--form">
    <div class="join-as-volunteer">
      <div class="volunteer--card">
        <img src="../../../assets/images/volunteerTypePage-volunteer.svg" />
        <button (click)="volunteer()">Join as Volunteer</button>
      </div>
      <span>
        Do not have enough experience, yet? Isn't a problem. You can be a
        volunteer mentor, where you help other to evolve in the same way, but
        without money. Later, after you obtain some experience, you can change
        your activity to get paid.
      </span>
    </div>
    <div class="delimitator"></div>
    <div class="get-paid">
      <span>
        If you have some experience in the field and also, your mentor's skills
        are allready defined, you can go earn some extra money and in the same
        time, don't forget, help anothers to evolve. Maybe later they will thank you.
      </span>
      <div class="volunteer--card">
        <img src="../../../assets/images/volunteerTypePage-getPaid.svg" />
        <button (click)="unVolunteer()">Get Paid</button>
      </div>
    </div>
  </div>
</div>
