<div class="background-shape"></div>
<div class="background-shape--shadow"></div>
<div class="join-as-user">
  <div class="img-background"></div>
  <img class="user-head" src="../../../assets/images/typeOfUserPage-user.png" />
  <span class="hashtags">
    <span class="span-first-line">#betterthanyesterday #getfreeresoruces </span>
    <span class="span-second-line">#getmentor #followurdream #learn</span>
    <span class="span-third-line">#dayone #not #oneday </span>
    <span class="span-fourth-line">#urchoice</span>
  </span>
  <button id="btn-user-join">Join as User</button>
</div>
<div class="join-as-mentor">
  <div class="img-background">
    <img
      class="mentor-head"
      src="../../../assets/images/typeOfUserPage-mentor.png"
    />
  </div>
  <span class="hashtags">
    <span class="span-first-line">
      #betterthanyesterday #helpanothertoevolve
    </span>
    <span class="span-second-line">#self-improved #improveurtrainerskills</span>
    <span class="span-third-line">#makemoney #or #govolunteer </span>
    <span class="span-fourth-line">#wintowin</span>
  </span>
  <button id="btn-mentor-join">Join as Mentor</button>
</div>
