<div class="joinAsUser-container">
  <h1>Create your Pressly Account</h1>
  <div class="joinAsUser-form">
    <form
      class="form-container"
      [formGroup]="joinAsUserForm"
      (ngSubmit)="joinAsUserSubmit()"
    >
      <div class="profile-image">
        <label for="profile-image-input">
          <img
            [src]="
              url ? url : '../../../assets/images/profile-image-default.png'
            "
            />
            <span>Change Image</span>
          </label>
          <input
          id="profile-image-input"
          type="file"
          (change)="onSelectImage($event)"
          [formControl] = "profileImagePath"
        />
      </div>
      <mat-form-field class="form-container--inputs">
        <label>Email</label>
        <input class="form-input" type="email" [formControl]="email" matInput />

        <label>Password</label>
        <input
          matInput
          class="form-input"
          type="password"
          [formControl]="password"
        />

        <label>Confirm Password</label>
        <input
          matInput
          class="form-input"
          type="password"
          [formControl]="confirmPassword"
        />

        <label>Domain</label>
        <input matInput class="form-input" type="text" [formControl]="domain" />

        <mat-error *ngIf="email.hasError('email')"
          >Email typo is not valid.</mat-error
        >
      </mat-form-field>

      <button
        type="submit"
        class="submit-button"
        [disabled]="!joinAsUserForm.valid"
      >
        <span class="text-button-login">Submit</span>
      </button>
    </form>
  </div>
</div>
