@import "../../../assets/scss/flex.scss";
@import "../../../assets/scss/div-positions.scss";

.joinAsUser-container {
    h1 {
        position: relative;
        top: 100px;

        font-family: Roboto;
        font-weight: normal;
        font-size: 35px;
        line-height: 41px;
    }
    @include div-center-screen;
    @include flex-align-center;
    .joinAsUser-form {
        .profile-image {
            z-index: -1;
            position: relative;
            right: 70%;
            top: 150px;

            display: flex;
            flex-direction: column;
            img {
                width: 100px;
                height: 100px;
            }
            span {
                color: #699eee;
            }
        }
    }
    .form-container {
        @include flex-align-center;
        .form-container--inputs {
            @include flex-align-center;
            padding: 20%;
            .form-input{
                padding: 10px 100px 10px 10px;
                margin-bottom: 20px;
                border: 1px solid #929292;
                &::placeholder,
                &:focus {
                    font-family: Andika;
                    font-size: 15px;
                    line-height: 25px;

                    color: #929292;
                    white-space: nowrap;
                }
            }
        }
        .submit-button {
            position: relative;
            align-self: flex-start;
            width: 173px;
            height: 41px;

            font-family: Roboto;
            font-size: 25px;
            line-height: 29px;

            color: #ffffff;
            border: none;
            text-decoration: none;

            background: #699eee;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;

            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        top: 0 !important;
    }
    .joinAsUser-form {
        .profile-image {
            right: 0 !important;
            top: 0 !important;
        }
    }
}