<app-header></app-header>
<app-news-publish-article
  *ngIf="isPublishArticleToggled"
  (filterClose)="filterClose($event)"
></app-news-publish-article>
<app-news-read-article
  *ngIf="isReadArticleToggled"
  (filterClose)="filterClose($event)"
  image="{{ articleImage }}"
  title="{{ articleTitle }}"
  content="{{ content }}"
>
</app-news-read-article>
<div class="article-page-content">
  <div class="publish-article" *ngIf="isUserTypeMentor">
    <img src="../../../assets/images/profile-image-default.png" />
    <button type="button" (click)="startPublishArticle()">
      <span>Write an article</span>
    </button>
  </div>
  <div class="article-cards">
    <div *ngFor="let article of articles" class="article-card">
      <img
        class="article-image"
        src="data:image/jpeg;base64,{{ article?.image }}"
      />
      <div class="article-card--body">
        <div class="article-body--header">
          <span class="publish-date">{{ article.publishDate }}</span>
          <span class="domain">#{{ article.category }}</span>
        </div>
        <span class="article-card--title">{{ article.title }}</span>
        <div class="article-body--footer">
          <div class="article-author">
            <img
              class="user-profile-image"
              src="../../../assets/images/profile-image-default.png"
            />
            <span class="user-username">{{ article.authorName }}</span>
          </div>
          <div class="rating">
            <ngb-rating
              [max]="5"
              [(rate)]="article.rating"
              [readonly]="true"
            ></ngb-rating>
          </div>
        </div>
      </div>
      <div class="delimitator"></div>
      <div class="article-card--footer">
        <span>READ ARTICLE</span>
        <button (click)="readArticle(article.id)">➡</button>
      </div>
    </div>
  </div>
</div>
