@import "../../../assets/scss/default-button.scss";

$fontZeplinSize: 13px;
$fontZeplinWeight: bold;
@mixin flex {
    display: flex;
}

@mixin flex-row {
    @include flex;
    flex-direction: row;
}

@mixin flex-column {
    @include flex;
    flex-direction: column;
}

@mixin button-reset {
    text-decoration: none;
    background-color: transparent;
    outline: 0;
    border: 0;
}

.opacity-background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 120%;
    background-color: rgba(#000000, 0.8);
    background-size: cover;
    #filter-training {
        position: absolute;
        height: 650px;
        left: 0;
        top: 9%;
        left: 0.1%;
        background-color: white;
        .filter__container {
            @include flex-column;
        }
        .header {
            @include flex-row;
            justify-content: space-between;
            padding: 30px 30px 0px 30px;
            span {
                font-size: 24px;
                font-weight: bold;
            }
            button {
                text-decoration: none;
                border: none;
                background: transparent;
                cursor: pointer;
            }
        }
        .form-field {
            @include flex-column;
            padding: 30px 30px 0px 30px;
        }

        .filter-button {
            position: absolute;
            bottom: 0;
            left: 0;
            margin-bottom: 30px;
            #applyFilters-button {
                @include default-button;
                border-radius: 0px;
                font-size: 15px;
                font-weight: bold;
                cursor: pointer;
                &:disabled {
                    opacity: 0.5;
                }
            }
        }
    }
}

label {
    margin-bottom: 10px;
}

mat-radio-group {
    display: flex;
    flex-direction: column;
}

::ng-deep .mat-autocomplete-panel {
    background: #D1DEFF;
    color: white;
    font-family: Roboto;
    z-index: 1000;
    opacity: 1;
    position: relative;
    width: 295px;
    top: -400px;
    left: -638px;
}

.flex-direction{
    display: flex;
    flex-direction: column;
}