<app-header></app-header>
<div class="toolbar">
  <button
    *ngIf="isGoLiveVisible"
    class="btn btn_live"
    (click)="startStreamingServer()"
  >
    Go Live<span class="live-icon"></span>
  </button>
</div>

<div class="stream-form">
    <video
      *ngIf="isLiveServerOn"
      #video
      id="video"
      width="640"
      height="480"
      autoplay
    ></video>
  <canvas
    *ngIf="isLiveServerOn"
    #canvas
    id="canvas"
    width="640"
    height="480"
  ></canvas>
  <img #live />
  <button *ngIf="isLiveServerOn" id="webcam" (click)="startStream()">
    Start camera
  </button>
</div>
