<div class="mentor-profile-content">
  <div class="mentor-profile--leftContent">
    <div class="mentor-basic-infos">
      <img
        class="mentor-profile-image"
        src="../../../assets/images/delete-this.jpg"
      />
      <span>Jason Statham</span>
      <span id="domain">Photographer</span>
    </div>
    <div class="mentor-links">
      <div class="form-links--behance">
        <img src="../../../assets/images/behance-logo.png" />
        <a href="">https://www.behance.net/</a>
      </div>
      <div class="form-links--carbonMade">
        <img src="../../../assets/images/carbonMade-logo.png" />
        <a href="">https://carbonmade.com/</a>
      </div>
      <div class="form-links--dribble">
        <img src="../../../assets/images/dribble-logo.png" />
        <a href="">https://dribbble.com/</a>
      </div>
    </div>
  </div>
  <div class="delimitator"></div>
  <div class="mentor-profile--rightContent">
    <div class="mentor-about">
      <div class="mentor-about-finish">
        <h1>About Me</h1>
        <button id="btn-submit">Finish</button>
      </div>
      <textarea>smth about him</textarea>
    </div>
    <div class="mentor-more-about">
      <h1>Find out more about me!</h1>
      <div class="mentor-more-linkedln">
        <div class="download-resume">
          <button class="btn-download-resume">
            <i class="fa fa-download"></i> Download my Resume
          </button>
        </div>
        <div class="download-resume-delimitator"></div>
        <label for="linkedln">
          Visit my <span id="linkedln-link">#Linkedln</span></label
        >
        <a id="linkedln"></a>
      </div>
      <div class="mentor-packages">
        <h1 id="packages-h1">Packages</h1>
        <div class="mentor-package">
          <div class="mentor-package-style basic-package">
            <h3>Basic</h3>
            <span class="mentor-package--period" role="textbox" contenteditable
              >60 min</span
            >
            <div class="hashtags">
              <span><span id="hashtag">#</span>q&a meeting</span>
            </div>
            <span class="mentor-package--price" role="textbox" contenteditable
              >15.99$</span
            >
          </div>
          <div class="mentor-package-style standard-package">
            <h3>Standard</h3>
            <span class="mentor-package--period" role="textbox" contenteditable
              >60 min</span
            >
            <div class="hashtags">
              <span><span id="hashtag">#</span>q&a meeting</span>
              <span><span id="hashtag">#</span>1:1 lessons</span>
            </div>
            <span class="mentor-package--price" role="textbox" contenteditable
              >30$</span
            >
          </div>
          <div class="mentor-package-style premium-package">
            <h3>Premium</h3>
            <span class="mentor-package--period" role="textbox" contenteditable
              >60 min</span
            >
            <div class="hashtags">
              <span><span id="hashtag">#</span>q&a meeting</span>
              <span><span id="hashtag">#</span>1:1 lessons</span>
              <span><span id="hashtag">#</span>meetmelive</span>
            </div>
            <span class="mentor-package--price" role="textbox" contenteditable
              >60.99$</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
