@font-face {
    font-family: TradeGothicLTStd;
    src: url(assets/fonts/TradeGothicLTStd.otf) format("opentype");
  }

@font-face {
  font-family: Roboto;
  src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap') format("opentype");
}

@font-face{
    font-family: ReenieBeanie;
    src: url('https://fonts.google.com/specimen/Reenie+Beanie#standard-styles') format("opentype");
}