/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.cdk-overlay-container{
    background: #D1DEFF;
    color: white;
    font-family: Roboto;
    z-index: 1000;
    opacity: 1;
    position: relative;
    left: 44%;
    top: 25px;
    width: 295px;
}

.mat-radio-outer-circle{
    border-style:none !important;
}